<p class="subtitle">A dynamic, open source programming language with a focus on simplicity and productivity. It has an elegant syntax that is natural to read and easy to write.</p>
<ul class="nav">
  <li><a class="download button" id='download' href="/downloads.html">Download <strong>Ruby 1.9.2</strong></a><li>
  <li><a class="learn" href="/downloads.html">Learn more &raquo;</a>
</ul>
<div id="code">
  <div class="comment"># Ruby knows what you</div> 
  <div class="comment"># mean, even if you</div> 
  <div class="comment"># want to do math on</div> 
  <div class="comment"># an entire Array</div> 
  <div>cities&nbsp;&nbsp;<span class="op">=</span> <span class="string">%w[ London</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Oslo</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Paris</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Amsterdam</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">Berlin ]</span></div>
  <div>visited <span class="op">=</span> <span class="string">%w[Berlin Oslo]</span></div>
  <div class="blank-line">&nbsp;</div>
  <div>puts <span class="string">"I still need "</span> <span class="op">+</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"to visit the "</span> <span class="op">+</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"following cities:"</span><span class="op">,</span></div>
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cities <span class="op">-</span> visited</div>
</div>
